name: run entry points

on:
  push:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install setuptools==67.8.0
        python -m pip install --upgrade pip!=22.1.*
        python -m pip install --upgrade mypy
        python -m pip install --upgrade pandas-stubs
        python -m pip install --upgrade types-appdirs
        python -m pip install .
        python -m pip install --upgrade wheel pytest numpy flit
        python -m pip install --upgrade appdirs click happi pandas bluesky suitcase-csv matplotlib
        python -m pip install . --no-build-isolation
    - name: Test with pytest
      run: |
        auto_rxn --version
        auto_rxn --help
